.Exibir {
    padding-top: 10px;
    color: #ffffff
}

.Exibir div {
    /* width: 70%; */
    margin-left: 5px;
}
  
.Exibir h1 {
    /* display: inherit;
    box-sizing: border-box;
    width: 60vh; */
    border-bottom: solid 1px #1f1f1f;
    padding: 10px 0px 1px 0px;
    margin: 0px clamp(10px, 20%, 400px) 0px clamp(10px, 20%, 400px);
}
