.App {
  text-align: center;
}

.App-main {
  background-color: rgb(40, 44, 52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 2vmin);
  color: white;
}

/* separa as div principais, o menu e a area de conteudo */

.App-background {
  display: flex;
  padding: 0.1rem;
  margin: 1rem 1rem 1rem 1rem;
  width: 80rem;
  max-width: 95%;
  border-radius: 12px;
  flex-direction: row;
  background-color: #808ea5;
  padding: 5px;
  min-height: 90vh;
}

/* MENU */

.App-menu {
  width: 30%;
  background-color: #22272f;
  border: solid 2px #1f1f1f;
  border-radius: 10px 2px 2px 10px;
  display: flex;
  flex-direction: column;
}

.App-menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
	color: inherit;
	border: none;
  padding: 5px 0px 5px 0px;
  border-bottom: 0.1px solid #5b6c8d;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-align: center;
  margin: 0px;
}

/* First child é sempre o menu */
.App-menu button:first-child {
  background-color: #0d9d00;
  margin-bottom: 2px;
  border-radius: 10px 2px 2px 2px;
}

.App-menu button:first-child:hover {
  border-radius: 10px 2px 2px 2px;
  background-color: #009999;
}


.App-menu button:not(:first-child):hover {
  border-radius: 2px 2px 2px 2px;
  background-color: #009999;
}
/* ///////////////////////////////////////// */

/* o segundo child é apenas uma estilizacao boba para centralizar, é possivel fazer isso com o flexbox também */
.App-menu button:nth-child(2) {
  margin-top: auto;
}
/* Colocar um espaco entre o penultimo com o editor */
.App-menu button:nth-last-child(2) {
  margin-bottom: 2px;
  border-bottom: none;
}

/* Aqui vai ser sempre o editor */
.App-menu button:last-child {
  margin-top: auto;
  background-color: #15ff00;
  border-radius: 2px 2px 2px 10px;
  border-top: 0.1px solid #5b6c8d;
}

.App-menu button:last-child:hover  {
  border-radius: 2px 2px 2px 10px;
}
/* ///////////////////////////// */

.App-menu p {
  margin: 0;
}

/* CONTENT */

.App-content {
  width: 70%;
  margin-left: 5px;
}

.App-content__header h1 {
  /* display: inherit;
  box-sizing: border-box;
  width: 60vh; */
  border-bottom: solid 1px #1f1f1f;
  padding: 10px 0px 1px 0px;
  margin: 0px clamp(10px, 20%, 400px) 0px clamp(10px, 20%, 400px);
}
